{% extends 'base.html.twig' %}
{% form_theme registerForm 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container">
        <div style="text-align: center">
            <h2>Circle Fishers</h2>
            <p>Enregistrez-vous pour gérer votre marketplace</p>
            <hr>

            {{ form_start(registerForm) }}

            {{ form_row(registerForm.username, {'label': 'Nom d\'utilisateur', 'attr':
                {'placeholder': 'User name...'}}) }}
            {{ form_row(registerForm.email, {'label': 'Adresse email', 'attr':
                {'placeholder': 'Adresse email ...'}}) }}
            {{ form_row(registerForm.password, {'label': 'Mot de passe', 'attr':
                {'placeholder': 'Mot de passe !'}}) }}

            <button type="submit" class="btn btn-primary">Inscription!</button>
            {{ form_end(registerForm) }}
            <a class="btn btn-primary" href="{{ path('login') }}" role="button" style="margin-top: 10px">Login</a>
        </div>
    </div>

    {# <h1>Register Form</h1> #}
    {# {{ form_start(registerForm) }} #}
    {# {{ form_widget(registerForm) }} #}
    {# <button type="submit">Register!</button> #}
    {# {{ form_end(registerForm) }} #}


{% endblock %}
{% block title %}Register Form {% endblock %}